* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(1, 1, 8);
}

.container-padre {
  width: 100%;
  height: 100vh;
  margin: 13% 13% 5% 5%;
}

.container-home {
  background-image: url("../Img/img-fondo.jpg");
  width: 90%;
  min-height: 82vh;
  background-size: cover;
  box-shadow: 5px 5px 0px 5px white;
  border-radius: 50px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 180px;
}

.container-paragraph-one {
  background-color: rgba(196, 196, 196, 0.56);
  width: 100%;
  height: 15vh;
  border: 2px solid blue;
  font-size: 27px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 20px;
  grid-column: 2 / 4;
  grid-row: 1 / 3;
  align-self: center;
  margin-left: 100px;
}

.container-paragraph-two {
  background-color: rgba(196, 196, 196, 0.56);
  width: 95%;
  height: 8vh;
  border: 2px solid blue;
  font-size: 27px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  border-radius: 20px;
  grid-column: 2;
  grid-row: 4;
}

.btn-google {
  background-color: rgba(196, 196, 196, 0.56);
  width: 90%;
  height: 10vh;
  border: 2px solid blue;
  border-radius: 25px;
  font-size: 27px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  grid-column: 3;
  grid-row: 4;
}
